<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.exampleen"
    versionCode = "20"
    version     = "1.2.0" >
  <!-- nome della app -->
  <name>Canossian Calendar</name>
  <!-- descrizione -->
  <description>
      Canossian calendar, english version
  </description>
  <!-- autore -->
  <author href="https://build.phonegap.com">
      Alessandro Visigalli
  </author>
  <!-- piattaforma di riferimento ed icona della app -->
    <platform name="android">
              <icon src="img/icongb.png" density="ldpi" />
              <icon src="img/icongb.png" density="mdpi" />
              <icon src="img/icongb.png" density="hdpi" />
              <icon src="img/icongb.png" density="xhdpi" />
     </platform>
</widget>
